.white-container{
    padding: 175px 0 3vw 0;
    background-color: #ffffff;
}

.white-container.nobot{
    padding: 3vw 0 0 0;
    background-color: white;
}

.form-custom {
    max-width: 400px;
    margin: auto;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 2%;
}

.btn{
    background-color: #418ba4;
    color: white;
}

.btn:hover{
    background-color: #246070;
    color: white;
}