.nav-container{
    position: absolute;
    width: 100%;
    height: 10em;
}

.white-container{
    padding: 10vw 0 3vw 0;
    background-color: white;
}

.white-container.nobot{
    padding: 3vw 0 0 0;
    background-color: white;
}